@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

body {
  background: #f06060;
  color: #fff;
}



.cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
}

.cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1;
}

.cn-button {
  border: none;
  background: none;
  color: #f06060;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 1em;
  height: 3.5em;
  width: 3.5em;
  background-color: #fff;
  position: fixed;
  left: 50%;
  margin-left: -1.75em;
  bottom: -1.75em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
  color: #aa1010;
}

body {
bottom:300px;
    
/*
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
*/
}



circle {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-animation: ball 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
          animation: ball 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  -webkit-transform-origin: 10% 30%;
          transform-origin: 10% 30%;
          transition:-webkit-transform 0.5s, fill 0.5s;
/*
        stroke: white;
          stroke-width: 3px;
*/
          transition: stroke-opacity 1s, stroke-width 1s, transform 1s;
          transform-origin: 50% 50%;
    

}

circle:hover{
fill-opacity: 1;
      stroke-opacity: 0.6;
  stroke-width: 0;
  transform: scale(2);
}
circle:nth-child(1) {
  fill: #FA3C4C;
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
  -webkit-transform-origin: -80px 150px;
          transform-origin: -80px 150px;
   
}

circle:nth-child(2) {
  fill: #FD7F2A;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
  -webkit-transform-origin: 40px 250px;
          transform-origin: 40px 250px;
}

circle:nth-child(3) {
  fill: #43BDC7;
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
  -webkit-transform-origin: 160px 250px;
          transform-origin: 160px 250px;
}

circle:nth-child(4) {
  fill: #669ACC;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform-origin: 280px 250px;
          transform-origin: 280px 250px;
}

circle:nth-child(5) {
  fill: #0162C0;
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
  -webkit-transform-origin: 400px 250px;
          transform-origin: 400px 250px;
}

circle:nth-child(6) {
  fill: #FA3C4C;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  -webkit-transform-origin: 520px 250px;
          transform-origin: 520px 250px;
}

circle:nth-child(7) {
  fill: #FD7F2A;
  -webkit-animation-delay: -1.05s;
          animation-delay: -1.05s;
  -webkit-transform-origin: 640px 250px;
          transform-origin: 640px 250px;
}

circle:nth-child(8) {
  fill: #43BDC7;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform-origin: 760px 250px;
          transform-origin: 760px 250px;
}

circle:nth-child(9) {
  fill: #669ACC;
  -webkit-animation-delay: -1.35s;
          animation-delay: -1.35s;
  -webkit-transform-origin: 880px 250px;
          transform-origin: 880px 250px;
}

circle:nth-child(10) {
  fill: #0162C0;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  -webkit-transform-origin: 1000px 250px;
          transform-origin: 1000px 250px;
}

@-webkit-keyframes ball {
  0%,
  100% {
    -webkit-transform: translate(0, 100px) scale(1);
            transform: translate(0, 100px) scale(1);
  }
  50% {
    -webkit-transform: translate(0%, -100px) scale(0.3);
            transform: translate(0%, -100px) scale(0.3);
  }
}

@keyframes ball {
  0%,
  100% {
    -webkit-transform: translate(0, 100px) scale(1);
            transform: translate(0, 100px) scale(1);
  }
  50% {
    -webkit-transform: translate(0%, -100px) scale(0.3);
            transform: translate(0%, -100px) scale(0.3);
  }
}

/*popup*/
.popup-call-form{
    
    width: auto;
    height: auto;
}
.popup-call, .popup-call-form {
  position:fixed;
  margin:auto;
  clear:both;
  height:250px;
/*  width:300px;*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  opacity:0;
  transform:scale(0);
  transition: 0.5s ease all;
}

.popup-call-show, .popup-call-show-form{
  opacity:1;
  transform:scale(1);
  transition: 0.5s ease all;
}

.card {
  border-radius: 8px;
  background-color: white;
  margin: 1% auto;
  overflow: hidden;
  width: 400px;
}

.wall-container {
  height: 200px;
  overflow: hidden;
}

.wall-pic {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.profile {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #454545;
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.profile h2 {
  color: #776B5F;
  font: 28px/30px Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px 0 10px 0;
  padding: 0;
  text-transform: capitalize;
}

.profile p {
  color: #776B5F;
  font: 14px/16px Helvetica, sans-serif;
  margin: auto;
  padding: 0;
  width: 100%;

}

.profile-pic {
   border: 5px solid #fff;
   border-radius: 50%;
   height: 35px;
   width: 35px;
}


/*pop-up end*/

/*pop-up form*/

.form-card {
  border-radius: 8px;
  background-color: white;
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
  width: 550px;
  color: black;
}

.inline {
  width: 80%;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right:auto;
  
}

.form-title {
  color:#43bdc7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 28px;
  margin:0.5em;
}

.form-title>.emojis{
    
    text-align: center;
}
ul {
    list-style-type: none;
}

.radioGone > input{ 
  visibility: hidden; 
  position: absolute; 
}
.radioGone  > input + img{  
  cursor:pointer;
  border:2px solid transparent;
}
.radioGone  > input:checked + img{
  border:2px solid #FFC300;
 border-radius: 20px;
}

.emojis{
    display: flex;
    justify-content: space-between;

}

.myButton {
  background:#43bdc7;
  border:0;
  border-radius:5px;
  color:#fff;
  font-size:16px;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1em;
}

textarea {
  border-radius: 5px;
  border-color:#aaaaaa;
   box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 35px;

}
